4x game: build, conquer, research, exploit

Features:
- map: Earth
- civilizations playable: Roman, Egyptian, Chinese, Aztec
- independent cities, from which other civilizations may arise
- fighting: grouping
- end of game: interstellar ship

evolutions